body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}
h2{
    font-size: 35px;
}
.skip {
    color: orange;
}

.banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.banner-description {
    margin-top: 100px;
}

.text {
    line-height: 2;
    margin-top: 60px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.title-1 {
    line-height: 0%;
}

.banner-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 500px;
    padding: 20px 40px;
    line-height: 4;
}
.about-bg{
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 100px;
    display: flex;
}
.about-right{
    padding-left: 700px;
    padding-top: 100px;
    text-align: justify;
}
.about-text{
    padding-right: 220px;
}
.banner-btn-2{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 500px;
    padding: 20px 40px;
    line-height: 8;
}
.my-description{
    margin-top: 80px;
    text-align: center;
    padding: 0 350px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    border-radius: 50px;
    margin-top: 50px;
}
.card img{
    height: 300px;
    width:100%
}
.my-card{
    display: flex ;
}
.my-bg{
    margin-bottom: 50px;
}
.my-header{
    font-size: 30px;
    font-weight: 700;
    line-height: 0;
}
.counter{
    display: flex;
    justify-content: space-evenly;
}
.counter-section{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 85%;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.my-p{
    font-size: 15px;
    font-weight: bold;
}
.my-s{
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: bold;
}